<div class="text-center" *ngIf="pokemones.length === 0; else divPoke">
  <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
    <span>Loading...</span>
  </div>
</div>

<ng-template #divPoke>
  <div
    class="character_list"
    data-aos="zoom-in-up"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="350"
    (scrolled)="onScroll()"
  >
    <div
      class="row row-cols-1 row-cols-md-2 row-cols-sm-1 row-cols-lg-3 text-center m-2"
    >
      <div class="col mt-4" *ngFor="let pokemon of pokemones | buscar : search">
        <div class="card">
          <div class="card-header text-white bg-dark">
            <h2>{{ pokemon.name | uppercase }}</h2>
          </div>
          <img
            class="card-img-top img-fluid"
            [src]="pokemon.sprites.front_default"
            alt="pokemones"
            title="{{ pokemon.name }}"
          />
          <div class="card-body text-white bg-dark">
            <div class="text-start">
              <p class="card-text">
                Experiencia base: {{ pokemon.base_experience }}
              </p>
              <div>
                Habilidades: {{ pokemon.abilities[0].ability.name }}
                <a *ngIf="pokemon.abilities[1]">
                  /
                  {{ pokemon.abilities[1].ability.name }}
                </a>
              </div>
            </div>
            <div class="mt-4">
              <p class="btn btn-primary">
                {{ pokemon.types[0].type.name | uppercase }}
              </p>
              <p class="mx-3 btn btn-danger" *ngIf="pokemon.types[1]">
                {{ pokemon.types[1].type.name | uppercase }}
              </p>
            </div>
            <a
              [routerLink]="['/pokemons/', pokemon.id]"
              class="btn btn-danger d-block mt-2"
              >Leer más...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div>
  <div
    class="row text-center"
    *ngIf="(pokemones | buscar : search).length === 0"
  >
    <div *ngIf="search">
      <h3 class="mt-3">No se encontró nada con {{ search }}</h3>
    </div>
  </div>

  <div class="row text-center" *ngIf="cargando">
    <div class="col">
      <img src="../../../assets/load.gif" width="80px" />
    </div>
  </div>

  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="scrollTop()"
  >
    <i class="fa-solid fa-circle-up"></i>
  </button>
</div>
