<div class="container">
  <div class="contain">
    <!-- Head -->
    <app-header></app-header>
    <!-- Fin Head -->

    <div class="mt-4">
      <div class="input-group">
        <input
          style="background: linear-gradient(to right, #ffffffd8, #0000003a)"
          type="search"
          class="form-control rounded"
          placeholder="Buscar Pokemon..."
          #Search
          (keyup)="onSearchPokemon(Search.value)"
        />
        <button type="button" class="btn btn-outline-primary active">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>

  <app-listado-pokemons [search]="search"></app-listado-pokemons>
</div>
