<div class="container">
  <nav class="navbar bg-danger mt-1">
    <div class="col-12 text-center position-relative">
      <div class="text-start position-absolute m-lg-1 ms-1">
        <img
          src="https://www.pngmart.com/files/2/Pokeball-PNG-Photos.png"
          width="40"
          class="img-fluid"
        />
      </div>
      <h2 class="text-white mt-1">POKEMON</h2>
    </div>
  </nav>

  <div class="mt-4">
    <div class="input-group">
      <input
        style="background: linear-gradient(to right, #ffffffd8, #0000003a)"
        type="search"
        class="form-control rounded"
        placeholder="Buscar Pokemon..."
      />
      <button type="button" class="btn btn-outline-primary active">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <app-listado-pokemons></app-listado-pokemons>
</div>
